
TestConsole/obj/Release/TestConsole.pdb
TestConsole/obj/Release/TestConsole.exe
TestConsole/obj/Release/TestConsole.csprojAssemblyReference.cache
TestConsole/obj/Release/TestConsole.csproj.FileListAbsolute.txt
TestConsole/obj/Release/TestConsole.csproj.CoreCompileInputs.cache
TestConsole/obj/Release/TestConsole.csproj.CopyComplete
TestConsole/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestConsole/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestConsole/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestConsole/obj/Debug/TestConsole.pdb
TestConsole/obj/Debug/TestConsole.exe
TestConsole/obj/Debug/TestConsole.csprojAssemblyReference.cache
TestConsole/obj/Debug/TestConsole.csproj.FileListAbsolute.txt
TestConsole/obj/Debug/TestConsole.csproj.CoreCompileInputs.cache
TestConsole/obj/Debug/TestConsole.csproj.CopyComplete
TestConsole/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestConsole/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestConsole/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestConsole/bin/Release/TestConsole.pdb
TestConsole/bin/Release/TestConsole.exe.config
TestConsole/bin/Release/TestConsole.exe
TestConsole/bin/Release/OversDetector.pdb
TestConsole/bin/Release/OversDetector.dll
TestConsole/bin/Release/DataCollector.pdb
TestConsole/bin/Release/DataCollector.dll
TestConsole/bin/Debug/TestConsole.pdb
TestConsole/bin/Debug/TestConsole.exe.config
.vs/Overs/v15/.suo
.vs/Overs/v15/Server/sqlite3/db.lock
.vs/Overs/v15/Server/sqlite3/storage.ide
.vs/Overs/v15/Server/sqlite3/storage.ide-shm
.vs/Overs/v15/Server/sqlite3/storage.ide-wal
DataCollector/bin/Debug/DataCollector.dll
DataCollector/bin/Debug/DataCollector.pdb
DataCollector/bin/Release/DataCollector.dll
DataCollector/bin/Release/DataCollector.pdb
DataCollector/obj/Debug/DataCollector.csproj.CoreCompileInputs.cache
DataCollector/obj/Debug/DataCollector.csproj.FileListAbsolute.txt
DataCollector/obj/Debug/DataCollector.csprojAssemblyReference.cache
DataCollector/obj/Debug/DataCollector.dll
DataCollector/obj/Debug/DataCollector.pdb
DataCollector/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataCollector/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataCollector/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataCollector/obj/Release/DataCollector.csproj.CoreCompileInputs.cache
DataCollector/obj/Release/DataCollector.csproj.FileListAbsolute.txt
DataCollector/obj/Release/DataCollector.dll
DataCollector/obj/Release/DataCollector.pdb
DataCollector/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataCollector/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataCollector/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OversDetector/bin/Debug/DataCollector.dll
OversDetector/bin/Debug/DataCollector.pdb
OversDetector/bin/Debug/OversDetector.dll
OversDetector/bin/Debug/OversDetector.pdb
OversDetector/bin/Release/DataCollector.dll
OversDetector/bin/Release/DataCollector.pdb
OversDetector/bin/Release/OversDetector.dll
OversDetector/bin/Release/OversDetector.pdb
OversDetector/obj/Debug/OversDetector.csproj.CopyComplete
OversDetector/obj/Debug/OversDetector.csproj.CoreCompileInputs.cache
OversDetector/obj/Debug/OversDetector.csproj.FileListAbsolute.txt
OversDetector/obj/Debug/OversDetector.csprojAssemblyReference.cache
OversDetector/obj/Debug/OversDetector.dll
OversDetector/obj/Debug/OversDetector.pdb
OversDetector/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OversDetector/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OversDetector/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OversDetector/obj/Release/OversDetector.csproj.CopyComplete
OversDetector/obj/Release/OversDetector.csproj.CoreCompileInputs.cache
OversDetector/obj/Release/OversDetector.csproj.FileListAbsolute.txt
OversDetector/obj/Release/OversDetector.csprojAssemblyReference.cache
OversDetector/obj/Release/OversDetector.dll
OversDetector/obj/Release/OversDetector.pdb
OversDetector/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OversDetector/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OversDetector/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestConsole/bin/Debug/DataCollector.dll
TestConsole/bin/Debug/DataCollector.pdb
TestConsole/bin/Debug/OversDetector.dll
TestConsole/bin/Debug/OversDetector.pdb
TestConsole/bin/Debug/TestConsole.exe
